html, body {
    margin: 0;
    padding: 0;
}

#header {
    height: 55px;
    width: 100%;
    background-color: #000000;
    font-size: 40PX;
}

#header2 {
    height: 350px;
    width: 100%;
    background-image : url('90075 - 복사본.jpg');
    background-repeat:no-repeat;
    background-size : 100%  100%;;
}
#contents {
    height: 500px;
    width: 100%;
    background-color: #000000;
}

#footer {
    height: 150px;
    width: 100%;
    text-align:left;
    background-color: #000000;
}

h1, h2, p {
    margin: 0;
}