html, body {
    margin: 0;
    padding: 0px;
    background-color: #000000;
}

body::-webkit-scrollbar { 
    width: 0 !important;
    display: none;
}
#header {
    height: 55px;
    width: 100%;
    background-color: #000000;
    font-size: 40PX;
}

#header2 {
    height: 500px;
    width: 100%;
    background-image : url('10002.webp');
    background-repeat:no-repeat;
    background-size : 100%  100%;;
}
#contents {
    height: auto;
    width: 100%;
    background-color: #000000;
}

#contents2 {
    height: 200px;
    width: 100%;
    background-color: #000000;
}

#footer {
    height: 250px;
    width: 100%;
    text-align:left;
    background-color: #000000;
}

h1, h2, p {
    margin: 0;
}


*{margin:0; padding:0;}
a{text-decoration:none;}
.wrap{padding:10px;}

.btn_open{
font-weight:bold;
margin:5px; 
padding:4px 6px;
background:#000; 
color:#fff;
}

.pop_wrap{
position:fixed; 
top:0; 
left:0; 
right:0; 
bottom:0; 
background:rgba(0,0,0,.5); 
font-size:0; 
text-align:center;
}

.pop_wrap:after{
display:inline-block; 
height:100%; 
vertical-align:middle; 
content:'';
}

.pop_wrap .pop_inner{
display:inline-block; 
padding:20px 30px;
background:rgb(32, 32, 32); 
width:1200px; 
vertical-align:middle; 
font-size:22px;
}